<% task = locals[:task] %>
<div id="delete_modal_<%= task.id %>" class="task_delete_modal" style="display:none">
	<div class="form_modal" style="">
		<h3>Eliminar tarea <%= task.name %></h3>
		<% if current_user.role == "last_planner" or current_user.role == "observer" %>
			Usted no tiene el permiso para realizar esta acción.
		<% else %>
			<p>
				¿Está seguro?
			</p>
			<p>
			<% if task.children.count > 0 %>
				Si elimina esta tarea, también eliminará <%= task.tasks_below_count %> tareas que se ubican bajo esta.
			<% else %>
				Esta tarea no tiene tarea hijas.
			<% end %>
			</p>
			
			<%= button_to 'Eliminar tarea', task_path(task), {method: :delete, class: 'btn btn-danger', type: 'button'} %>
		<% end %>
	</div>
</div>

