<div class="row">
  <div class="col-md-12">
    <h1>Proyectos</h1>
  </div>
</div>

<% if current_user.is_boss %>
  <div class="row">
    <div class="col-md-12">
      <%= link_to_modal 'Nuevo proyecto', new_enterprise_project_path(@enterprise) %>
    </div>
  </div>
<% end %>

<div class="row">
  <% @projects.each do |p| %>
    <%= render 'project', project: p %>
  <% end %>
</div>







