<div class="row">
  <div class="col-md-12">
    <h1><%= @project.name %></h1>
  </div>
</div>

<% if current_user.can_edit_project(@project) %>
  <div class="row">
    <div class="col-md-12">
      <%= link_to 'Exportar', project_export_path(@project) %>
    </div>
  </div>
<% end %>

<div class="row">
  <div class="col-md-12">
    <%= link_to 'Usuarios', project_users_path(@project) %>
  </div>
</div>
