<div class="full horizontal_sub_menu gantt-menu">
	<table>
		<tr>
			<% if @project && (params[:action] == "tree_view" || params[:controller] == "gantt") %>
				<td class="<%= 'active' if params[:controller] == 'gantt' %>"><%= link_to 'Clásico', project_gantt_path(@project) , {class: 'slow_link'}%></td>
				<td class="<%= 'active' if params[:action] == 'tree_view' %>"><%= link_to 'Explorador', project_tree_view_path(@project) , {class: 'slow_link'}%></td>
			<% end %>
		</tr>
	</table>
</div>